{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-6">
        <h2>Listado de Entradas</h2>
        <hr/>
        <a href="{{path('blog_add_entry')}}" class="btn btn-success">Añadir Entrada</a>
        <hr/>
        {% if app.session.flashbag().get('status') is defined %}
            {% for message in app.session.flashbag().get('status') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <table class="table table-bordered">
            <tr>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            {% for entry in entries %}
                <tr>
                    <td>{{entry.tittle }}</td>
                    <td>{{entry.category }}</td>
                    <td><a href="{{path('blog_edit_entry',{'id' :entry.id })}}" class="btn btn-warning">Editar</a></td>
                    <td>
                        {#                        {% if entry.categories|length == 0 %}#}
                        <a href="{{path('blog_delete_entry',{'id' :entry.id })}}" class="btn btn-danger">Eliminar</a>
                        {#{% else %}
                            Categoría en uso
                        {% endif %}#}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class ="clearfix"></div>
{% endblock %}