{% extends "::layout.html.twig" %}
{% block container %}

    {{ parent()}}
    {{text}}
    {# Ejemplo de poner comentario en twig #}

    <hr/>

    {% set variable = "Alain" %}
    {{variable}}

    <hr/>

    {% if productos|length >0 %}
        <ul>
            {% for producto in productos %}
                <li>{{ producto.producto }} - {{ producto.precio }}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <hr/>

    {% set fecha = date("-2 days","Europe/Madrid") %}
    {{ dump(fecha)}}

    <hr/>

    {{ include('AppBundle:pruebas:partial.html.twig')}}
    {{max([99,88,70])}}
    {{min([99,88,70])}}

    <hr/>
    {{ random(100)}}

    {{ generateTable(4,4)|raw}}

    {{"Cadena de texto"|addText(2)}}
{% endblock %}