{% extends "BlogBundle::layout.html.twig" %}
{% block menu %}
    {% include "BlogBundle:Category:menu.categories.html.twig" with {'categories': categories}  %}
{% endblock %}
{% block content %}
    <div class="col-lg-6">
        <h2>Listado de Etiquetas</h2>
        <hr/>
        <a href="{{path('blog_add_category')}}" class="btn btn-success">Añadir Categorias</a>
        <hr/>
        {% if app.session.flashbag().get('status') is defined %}
            {% for message in app.session.flashbag().get('status') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <table class="table table-bordered">
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            {% for category in categories %}
                <tr>
                    <td>{{category.name }}</td>
                    <td>{{category.description }}</td>
                    <td><a href="{{path('blog_edit_category',{'id' :category.id })}}" class="btn btn-warning">{% trans %}btn_edit{% endtrans %}</a></td>
                    <td>
                        {% if category.entries|length == 0 %}
                            <a href="{{path('blog_delete_category',{'id' :category.id })}}" class="btn btn-danger">Eliminar</a>
                        {% else %}
                            Categoría en uso
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class ="clearfix"></div>
{% endblock %}